# ItelliJ Idea dir-based project
/.idea/usage.statistics.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/shelf
/.idea/modules.xml
*.iml
# Gradle
.gradle
.gradletasknamecache
# Build artofacts
build
out
target
# npm
node_modules
package-lock.json
# OSX
.DS_Store

